<ng-container *ngIf="!showAssessmentComponent">
<ion-content [fullscreen]="true">
    <ion-card class="container">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1" ></ion-back-button>
        </ion-buttons>
        <ion-title>Wybierz podkategorię</ion-title>
      </ion-toolbar>

      <ion-card-content>
        <ion-searchbar (ionInput)="onSearch($event)" placeholder="Wyszukaj"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let item of filteredItems" (click)="onItemSelect(item)" [class.selected]="selectedItemId === item">
            <ion-thumbnail slot="start">
              <div class="circle">
                {{ item.name!.charAt(0) }}
              </div>
            </ion-thumbnail>
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer *ngIf="selectedItemId">
  <div class="container-button">
    <ion-button (click)="onStartQuiz()" size="large" fill="clear">
      <ion-icon class="chevron-forward" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
</ng-container>

<assessment-component *ngIf="showAssessmentComponent"></assessment-component>
