<ion-content [fullscreen]="true" class="ion-padding">
  <ion-accordion-group [value]="currentAccordion">
    <ion-accordion value="first" class="accordion-border">
      <ion-item slot="header" class="header-background">
        <ion-label class="label-color">Favorite</ion-label>
      </ion-item>
      <div class="ion-padding content-flex" slot="content">
        <ion-card *ngFor="let card of savedState | keyvalue; let i = index"
          [ngClass]="{'highlight-card': selectedFavCardIndex === i && isCardVisible, 'card-animating': !isCardVisible, 'card-hidden': !isCardVisible}"
          (click)="onFavoriteCardClick(card.value, i, true)" class="card">
          <ion-icon (click)="onDeleteCard(card)" *ngIf="selectedFavCardIndex === i" name="close-outline" size="large"
            fill="clear" class="close-icon"></ion-icon>

          <div class="card-image-container">
            <ion-img class="card-image" src="{{ card.value.item.icon }}"></ion-img>
          </div>
          <ion-card-content>
            <div class="card-description">{{ card.value.item.name }}</div>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <ion-card *ngFor="let card of categorys; let i = index"
    [ngClass]="{'highlight-card': selectedCategoryCardIndex === i }" class="rounded-card ion-card-spacing">
    <ion-card-content class="ion-card-content-spacing">
      <ion-img style="max-width: 10vw;" src="{{card.icon}}"></ion-img>
      <span class="span-test">{{ card.name }}</span>
      <div style="display: flex; align-self: center;">
        <ion-icon (click)="onHandleArrowIconClick('tab2', card)" class="span-test" size="large"
          name="chevron-forward-outline"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button [disabled]="selectedFavCard.length === 0" class="custom-button"
    (click)="goToCategoryView()">Next</ion-button>
</ion-footer>
