<ion-content>
  <!-- Question Card -->
  <ion-card class="quiz-card gradient">
    <ion-card-header>
      <ion-title class="ion-text-center" style="color: white;">{{displayTime}}</ion-title>
      <ion-progress-bar [value]="progress"></ion-progress-bar>
    </ion-card-header>
    <ion-card-content>


      <pre><code [highlight]="questions.content" ></code></pre>

      <ion-textarea placeholder="Enter your answer here..."></ion-textarea>
    </ion-card-content>
  </ion-card>


<ion-footer>
  <ion-button class="custom-button" [disabled]="!selectedAnswer" (click)="nextQuestion()">
    Next Question
  </ion-button>
</ion-footer>
