<ion-content>
  <div class="quiz-container">
    <!-- Question Card -->

    <ion-card class="quiz-card gradient">
      <ion-card-header>
        <ion-title class="ion-text-center" style="color: white;">{{displayTime}}</ion-title>
        <ion-progress-bar [value]="progress"></ion-progress-bar>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-img src="/assets/images/angular.png" style="display: block; margin: auto;"></ion-img>
        <p>
          {{ currentQuestion.content!.split('...')[0] }}
          <span *ngIf="selectedAnswer" class="highlight">{{ selectedAnswer }}</span>
          {{ currentQuestion.content!.split('...')[1] }}
        </p>
      </ion-card-content>
    </ion-card>

    <!-- Answers Card -->
    <ion-card class="quiz-card">
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let answer of currentQuestion?.answers">
            <ion-col>
              <ion-button expand="block" [ngClass]="{'highlight-card': selectedAnswer === answer}" style="white-space: normal; text-overflow: initial;">
                {{ answer }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-button *ngIf="selectedAnswer" (click)="nextQuestion()">
  Next Question
</ion-button>



<ion-footer style="display: flex;
padding: 0 10px;
justify-content: center;
flex-direction: column;">
  <ion-button (click)="nextQuestion()">
    Next Question
  </ion-button>
</ion-footer>
