<ion-content>
  <div class="quiz-container">
    <!-- Question Card -->
    <ion-card class="quiz-card">
      <ion-card-header>
        <ion-card-title>Quiz</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-img src="/assets/images/angular.png"></ion-img>
        <p>
          {{ currentQuestion.question!.split('...')[0] }}
          <span *ngIf="selectedAnswer" class="highlight">{{ selectedAnswer }}</span>
          {{ currentQuestion.question!.split('...')[1] }}
        </p>
      </ion-card-content>
    </ion-card>

    <!-- Answers Card -->
    <ion-card class="quiz-card">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <!-- Iterate over the answers of the current question -->
            <ion-col size="6" *ngFor="let answer of currentQuestion?.answers">
              <ion-button expand="block" (click)="selectAnswer(answer)"
                          [ngClass]="{'highlight-card': selectedAnswer === answer}">
                {{ answer }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-button *ngIf="selectedAnswer" (click)="nextQuestion()">
  Next Question
</ion-button>
