<div class="container">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="card-title" >Ulubione</ion-title>
      <ion-buttons slot="end">
        <ion-button expand="block" (click)="toggleCardVisibility()">
          <ion-icon [name]="isCardVisible ? 'chevron-up-outline' : 'chevron-down-outline'" size="large"
            fill="clear"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="card-container">
    <ion-card *ngFor="let card of cardData; let i = index"
      [ngClass]="{'highlight-card': selectedCardIndex === i && isCardVisible, 'card-animating': !isCardVisible, 'card-hidden': !isCardVisible}"
      (click)="showNewCard(i)"  (click)="handleCardClick($event)" class="card">
      <ion-icon *ngIf="selectedCardIndex === i" name="close-outline" size="large" fill="clear" class="add-icon"></ion-icon>
      <div class="card-image-container">
        <img [src]="card.src" alt="fav category" class="card-image">
      </div>
      <ion-card-content>
        <div class="card-description">{{ card.title }}</div>
      </ion-card-content>
    </ion-card>
  </div>

</div>
