.card-image-container {
  height: 0;
  padding-top: 75%;
  // position: relative;
  // overflow: hidden;
  scale: 0.75;
  border-radius: 20px 20px 0 0;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  background-color: var(--ion-card-background)
}

.card {
  height: 150px;
  flex: 0 0 30%;
  margin: 0 5px;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  background-color: var(--md-card-content-background);
}

.card-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  // scrollbar-width: thin;
  // scrollbar-color: transparent transparent;
}


.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-animating {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 800px;
}

.card-hidden {
  max-height: 0;
  margin: 0 5px;
}

.header-md {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.highlight-card {
  border: 2px solid var(--ion-color-primary);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.fav {
  display: flex !important;
  overflow-x: scroll !important;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
}

.schema{
  display: flex !important;
  overflow-x: scroll !important;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
  justify-content: space-around;
}

.parent {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr repeat(2, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.div1 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
}

.div2 {
  grid-area: 2 / 1 / 3 / 3;
}

.div3 {
  grid-area: 3 / 1 / 4 / 3;
}

ion-card-header{
  padding-top: 0px !important;
}

ion-toolbar {
  --background: transparent;
}


.remove-button {
  position: absolute;
  top: -12%;
  right: -20%;
  z-index: 1;
}
