<ion-card class="quiz-card">

  <ion-card-header>
    <ion-toolbar *ngIf="displayProgressBar">
      <ion-title *ngIf="displayProgressBar"  style="color: white;">{{displayTime}}</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="displayProgressBar" id="present-alert" fill="clear" class="close-button" size="large">
          <ion-alert
          trigger="present-alert"
          header="If you want to finish early, click OK and answer the final question."
          [buttons]="alertButtons"
          (didDismiss)="setResult($event)"
        ></ion-alert>
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-card-header>

</ion-card>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="chat-container">
    <!-- Wyświetlanie wiadomości -->
    <ion-card *ngFor="let message of messages" class="message" [ngClass]="{
      'user-message': message.type === 'user',
      'bot-message': message.type === 'bot',
      'question-message': message.type === 'question'
    }" [ngStyle]="{
      'border': message.type === 'bot' ? (message.isCorrect ? '2px solid green' : '2px solid red') : ''
    }">
      <ion-card-content style="white-space: normal; padding: 0;" *ngIf="message.content">
          {{ message.content }}
      </ion-card-content>
    </ion-card>

    <!-- Karta wyświetlana, gdy question jest null lub undefined -->
    <ion-card *ngIf="loadingUserAnswer || loadingNextQuestion" class="message loading">
      <ion-card-content style="white-space: normal; padding: 0;">
        <ion-spinner></ion-spinner>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
<ion-footer>
  <div style="display: flex; align-items: center;">
    <ion-textarea [(ngModel)]="userAnswer" placeholder="Enter your answer here..."></ion-textarea>
    <ion-button class="custom-button" (click)="setUserAnswer()" [disabled]="userAnswer.length === 0" fill="clear">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
