<!-- Container for the main quiz selection and quiz display -->
<ng-container *ngIf="!showPickAnswerQuiz && !showSummary">
  <!-- Quiz Selection Card -->
  <ion-card class="container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab2" (click)="onBackButtonClicked()"></ion-back-button>
      </ion-buttons>
      <ion-title>Select type and level!</ion-title>
    </ion-toolbar>

    <!-- Card Content for Displaying Assessment Options -->
    <ion-card-content>
      <ng-container *ngIf="!loading; else loadingTemplate">
        <ng-container *ngFor="let format of assessments">
          <ion-card class="square-card" [ngClass]="{'highlight-card': selectedCard === format}" (click)="onCardClick(format)">
            <ion-card-header>
              <ion-card-title>{{ format.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ format.format }}
              <ion-segment [disabled]="selectedCard !== format" (ionChange)="onDifficultyChange($event)">
                <ion-segment-button *ngFor="let difficulty of format.difficulties" [value]="difficulty">
                  <ion-icon [name]="getIconForDifficulty(difficulty)"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ng-container>

      <ng-template #loadingTemplate>
        <ion-card class="square-card">
          <ion-card-header>
            <ion-card-title>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            <ion-segment>
              <ion-segment-button>
                <ion-skeleton-text [animated]="true" style="width: 30px; height: 30px;"></ion-skeleton-text>
              </ion-segment-button>
            </ion-segment>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- Quiz Start Button in Footer -->
  <ion-footer>
    <ion-button class="custom-button text-lowercase" [disabled]="!selectedDifficulty.length && selectedCard" id="open-loading" (click)="onStartQuizClicked()">
      Let's Go!
    </ion-button>
  </ion-footer>

</ng-container>

