<ion-content>
  <ion-card class="quiz-summary-footer">
    <ion-card-content>

      <ion-card-content>
        <strong>Total Questions Answered:</strong> {{ quizResponse?.assessmentDetails?.answeredQuestions }}
      </ion-card-content>

      <ion-card-content>
        <strong>Correct Answers:</strong> {{ quizResponse?.assessmentDetails?.correctAnswers }}
      </ion-card-content>

      <ion-card-content>
       <strong>Start Difficulty:</strong> {{ quizResponse?.difficultyAtStart }}
      </ion-card-content>

      <ion-card-content>
       <strong>End Difficulty:</strong> {{ quizResponse?.difficultyAtEnd }}
      </ion-card-content>

      <ion-card-content>
        <strong>Feedback:</strong>{{ quizResponse?.feedback }}
      </ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-accordion-group>
    <ion-accordion *ngFor="let quiz of quizResponse?.assessmentDetails?.questions; let i = index">
      <ion-item slot="header">
        <strong style="color: var(--ion-color-primary);">{{ i + 1 }}.</strong> {{ quiz.content }}
      </ion-item>

      <ion-card-content slot="content">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle style="border-bottom: 2px solid var(--ion-color-dark-tint); padding-bottom: 5px;">
              <strong [ngStyle]="{'color': quiz.isCorrect ? 'green' : 'red'}">Your Answer:</strong> {{ quiz.yourAnswer }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <strong>Question:</strong> {{ quiz.content }}
            <br>
            <strong>Correct Answer:</strong> {{ quiz.correctAnswer }}
            <br>
            <strong>Explanation:</strong> {{ quiz.explanation }}
            <br>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
