<!-- quiz-summary.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="quiz-summary-footer">
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Total Questions Answered:</strong> {{ quizResponse[0].assessmentDetails.answeredQuestions
          }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Correct Answers:</strong> {{ quizResponse[0].assessmentDetails.correctAnswers }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Start Difficulty:</strong> {{ quizResponse[0].difficultyAtStart }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>End Difficulty:</strong> {{ quizResponse[0].difficultyAtEnd }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ quizResponse[0].feedback }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-button class="custom-button" (click)="onReplayQuiz()" expand="full" color="primary">Replay Quiz</ion-button>
  <ion-button class="custom-button" (click)="onReturnToMenu()" expand="full" color="secondary">Return to
    Menu</ion-button>
</ion-footer>
